
body {
	font: 90%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: #42413C;
	margin: 0;
	padding: 0;
	color: #999;
}

p{margin-bottom:2em;}

#home_page a[href="index.php"],
#about_page a[href="about.php"],
#contact_page a[href="contact.php"] {
	background-color:red;
	color:#fff;
	font-weight:bold;
}



ul, ol, dl { 
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin-bottom: -.6em;	
	font-family: 'NewsGothicFSBook',Arial,sans-serif;
	color:#69b;;
}

article h1 {
	font-size:2.2em;
	margin-bottom:1em;
	color:#7ac;
}

a img {
	border: none;
}

a:link {
	color: #42413C;
	text-decoration: underline; 
}
a:visited {
	color: #6E6C64;
	text-decoration: underline;
}
a:hover, a:active, a:focus { 
	text-decoration: none;
}

.container {
	width: 960px;
	background-color: #fff;
	margin: 0 auto; 
}

header {
	background-image: url(../i/sign2.png);
	background-size: 100%;
    background-position: 50% 70%;
    background-repeat: no-repeat;
	height:190px;
}

header a.logotype {
	display:block;
	color:#fff;
	padding:.4em 0 0 .8em;
	text-decoration:none;
	font-size:1.4em;
}

.content {
	padding:0;
	width: 700px;
	position:relative;
	margin:0 auto;
}

.errors li {
	color:red;
}

form{
	margin: 2em auto;
}

fieldset {
	padding:1.25em 0 3em 0;
	background-image: url(../i/sign2.png);
	background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
	border:1px solid #333;
}

legend h2{
	color:#000;
	background: rgba(255,255,255,.8);
	border:1px solid #000;
	box-shadow: 0px 3px 3px rgba(55,55,55, .4);
	margin-left:-4px;
	padding:3px;
}

form li{
	margin-bottom:1em;
	list-style:none;
}

label,input, textarea{
	display:block;
	font-size:1.5em;
	float:left;
	width:45%;
}

label {
	text-align:right; 
	width:30%;
	margin-right:1.25em;
	color:#fff;
	}


ul.nav {
	list-style: none;
	border-top: 1px solid #666; 
	margin-bottom: 40px;
	box-shadow: 0px 3px 3px rgba(55,55,55, .4);
}
ul.nav li {
	border: 1px solid #666;
	display:inline-block;
	width: 33.45%; 
	margin-right:-10px; 
}
ul.nav a, ul.nav a:visited { 
	padding: 5px;
	display: block; 
	text-decoration: none;
	text-align:center;
	background-color: #C6D580;
	font: 1.2em 'NewsGothicFSBook',Arial,sans-serif;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus { 
	background-color: #ADB96E;
	color: #FFF;
}


footer {
	padding: 10px 0;
	background-color: #CCC49F;
	position: relative;
}

.clearfloat { 
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

/*HTML 5 support - Sets new HTML 5 tags to display:block so browsers know how to render the tags properly. */
header, section, footer, aside, article, figure {
	display: block;
}